@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
html {
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #4E8067;
    font-size: 1.2rem;
    text-align: center;
    color: #DBDBDB;
    -webkit-appearance: none;
}

#wrapper {
    position: relative;
    height: 100%;
}

#headerBig {
    font-weight: 100;
    font-size: 5em;
}

#headerSmall {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 0.2em;
}

#settings {
    position: absolute;
    top: 0;
    right: 0px;
    width: 0px;
    height: 100%;
    background-color: #2F4D3E;
    z-index: 2;
    display: none;
}

#settings ul {
    list-style: none;
    padding: 0;
}


#settings li:nth-child(2){
     margin-top: 50px;
    /*border-bottom: 2px solid #DBDBDB;*/
}

#settingsButton:hover,
#settings li:nth-child(n+3):hover {
    border-bottom: 2px solid #DBDBDB;
    margin: 0 0 -2px 0;
    cursor: pointer;
}

#settings * {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    white-space: nowrap;
}

#settings li:first-child {
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding:0;
    fill: #DBDBDB;
    cursor: pointer;    
}

#settingsButton {
    position: absolute;
    top: 35px;
    right: 50px;
    z-index: 2;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 300;
    cursor: pointer;
}


#easyButton {
    border-bottom: 2px solid #00C4C4;
}

#mediumButton {
    border-bottom: 2px solid #C4C400;
}

#hardButton {
    border-bottom: 2px solid #C40000;
}

#difficultyButtons *:hover {
    border-bottom-width: 4px;
    padding-bottom: 8px;
    cursor: pointer;
}

#difficultyButtons {
    margin: 5px 0 20px 0;
    font-size: 0.7rem;
    font-weight: 500;  
    padding: 10px 0;
    /*display: none;*/
}

#container {
    width: 600px;
    margin: 0 auto;
}
#tableContainer {
    padding: 25px 0 0 0;
    display: table;
    margin: 0 auto;
}

input {
    height: 40px;
    width: 40px;
    border: solid #DBDBDB 1px;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    background-color: inherit;
    color: inherit;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
input[type="text"]:focus {
    outline: none;
}
input[type="button"] {
    padding: 10px 50px;
    margin: 5px 15px;
    height: auto;
    width: auto;
    border-width: 2px;
    border-radius: 6px;
    cursor: pointer;
    
}
.row {
    padding: 0;
    margin: 0;
    display: table-row;
}
.cell {
    display: table-cell;
}
#row1 * {
    border-top: solid #DBDBDB 4px;
    z-index: 1;
}
#row3 * {
    border-bottom: solid #DBDBDB 4px;
    z-index: 1;
}
#row6 * {
    border-bottom: solid #DBDBDB 4px;
    z-index: 1;
}
#row9 * {
    border-bottom: solid #DBDBDB 4px;
    z-index: 1;
}
#cell1 {
    border-left: solid #DBDBDB 4px;
    z-index: 1;
}
#cell3 {
    border-right: solid #DBDBDB 4px;
    z-index: 1;
}
#cell6 {
    border-right: solid #DBDBDB 4px;
    z-index: 1;
}
#cell9 {
    border-right: solid #DBDBDB 4px;
    z-index: 1;
}
#messageContainer {
    height: 20px;
    font-size: 20px;
    font-family: inherit;
}
#messageSpan {
    display: none;
}
.original {
    background-color: #2F4D3E;
}

@media (max-width: 800px) {
    #container {
        width: 100%
    }
    
    header {
        text-align: left;
        margin: 10px 0 0 0;
    }
    #headerBig {
        font-size: 3em;
        padding: 0 0 0 20px;
    }
    #headerSmall {
        display: block;
        padding: 0 0 0 20px;
    }

}

@media (max-width: 500px) {
    #headerBig {
        font-size: 1.7em;
    }
    #headerSmall {
        font-size: 0.7em;
    }
    #settingsButton, #settings li:nth-child(n+2) {
        letter-spacing: 0.1em;
        font-size: 0.9em;
    }
    #settingsButton {
        top: 20px;
        right: 10px;
    }
    #container {
        width: 100%
    }
    
    input {
        height: 25px;
        width: 25px;
        border-width: 0.5px
    }
    input[type="button"] {
        padding: 5px 30px;
        margin: 3px 7px;
    }
    #row1 * {
        border-top-style: solid;
        border-top-width: 2px;
    }
    #row3 * {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #row6 * {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #row9 * {
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }
    #cell1 {
        border-left-style: solid;
        border-left-width: 2px;
    }
    #cell3 {
        border-right-style: solid;
        border-right-width: 2px;
    }
    #cell6 {
        border-right-style: solid;
        border-right-width: 2px;
    }
    #cell9 {
        border-right-style: solid;
        border-right-width: 2px;
    }
}
